%footer#global-footer
  %slp-footer

-# Buyer Experience footer integration
%script{src: cache_bust("/javascripts/be-footer.js", cache_bust_value), type: "text/javascript"}

= partial "includes/layout/scripts"

%script{ src: "/javascripts/cbextras.js", type: "text/javascript", "defer": "true"}
